// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
    background: #202020;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus,
*:hover {
    text-decoration: none !important;
    outline: none !important;
}
/**
 * Basic styles for links
 */

a {
    text-decoration: none;
    outline: none !important;
}

body {
    line-height: 1.4;
    min-height: 100vh;
    max-width: 575px;
    margin: auto !important;
    background: #000;
    @include screen(767px, true) {
        overflow: hidden;
    }
    &.is-mobile-device {
        overflow: auto;
    }
}
html{
    background-color: #000;
}

.block-375{
    max-width: 375px;
    margin: auto;
    display: block;
}

.block-max-width{
    max-width: 575px;
    margin : 0 auto;
    display: block;
}
