.banner-desktop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #000;
    background-position: center;
    background-size: cover;
    transition: 0s !important;
    display: none;
    @include screen(767px, true) {
        display: block;
    }
    .is-mobile-device & {
        display: none;
    }
}