.button-big {
    background: #f00d1a;
    color: #fff;
    position: relative;
    width: 100%;
    display: inline-flex;
    font-size: rem(13);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: rem(20);
    height: rem(46);
    transition: 0.3s;
    position: relative;
    border: 0;
    &__arrow-right {
        display: inline-block;
        width: rem(17);
        height: rem(12);
        vertical-align: middle;
        background: url('../images/icon/ico-arrow.png') center no-repeat;
        background-size: contain;
        margin-left: rem(15);
    }
    &:active {
        transform: scale(0.97);
        transition: 0.1s;
    }
    input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
    }
    &:disabled, &.-disabled {
        background: #BDBDBD;
        color: #fff;
        pointer-events: none;
    }
    &.-loading {
        color: transparent;
        transition: color 0s;
        &:before {
            content:"";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%,-50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 3px solid rgba(#fff, 0.5);
            border-top: 3px solid rgba(#fff, 1);
            opacity: 1;
            pointer-events: none;
            transition: 0.2s;
            animation: loading-spin 1s linear infinite;
        }
    }
}
@keyframes loading-spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}