.card-skew {
    position: relative;
    background-color: #f00d1a;
    padding: rem(3) rem(6);
    width: rem(145);
    height: rem(176);
    box-sizing: border-box;
    padding-top: rem(13);
    &.disabled {
        background-color: #828282;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2 !important;
            opacity: 1 !important;
            visibility: visible !important;
        }
        &.-completed {
            &:after {
                background: url(../images/watermark-complete.png) no-repeat center 63%;
                background-size: 75% auto;
                background-position: 52% 54%;
            }
        }
        .card-skew-container {
            &__mask {
                &:after {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    content: "";
                    display: block;
                }
                img {
                    filter: grayscale(100%);
                }
            }
            &__inner {
                // filter: drop-shadow(-4px 8px 4px rgba(28, 28, 28, 0.75));
                // -webkit-filter: drop-shadow(-4px 8px 4px rgba(28, 28, 28, 0.75));
                // -moz-filter: drop-shadow(-4px 8px 4px rgba(28, 28, 28, 0.75));
                // -o-filter: drop-shadow(-4px 8px 4px rgba(28, 28, 28, 0.75));
                &:before {
                    background: #292929;
                    box-shadow: rem(-4) rem(9) rem(2) #292929;
                }
            }
        }
        .card-skew-headline {
            color: #bdbdbd;
        }
        .card-skew-btn {
            background-color: #000;
        }
    }
}

.card-skew-headline {
    margin: 0;
    line-height: 1.35;
    @include FontDelaGothic;
    font-size: rem(8.5);
    color: #000;
    display: flex !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    //transform: rotate(-5.25deg);
    transform: matrix(1, -0.09, 0, 1, 0, 0);
    text-align: center;
    user-select: none;
    min-height: rem(25);
    &__wrapper{
        line-clamp: 2;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

.card-skew-container {
    user-select: none;
    position: relative;
    margin-top: rem(3);
    &__size {
        position: relative;
        width: 100%;
        &:after {
            display: block;
            content: "";
            padding-bottom: 88%;
        }
    }
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        &:before {
            content:"";
            display: block;
            position: absolute;
            width: 98%;
            padding-bottom: 77%;
            left: 1px;
            top: 1px;
            background: #7D0000;
            transform-origin: 100% 0%;
            transform: skewY(-5deg);
            box-shadow: rem(-4) rem(9) rem(2) #7d0000;
            opacity: 0.65;
        }
    }
    &__mask {
        mask-image: url("../images/masks/mask-skew.png");
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        mask-repeat: no-repeat;
        mask-size: contain;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    ///////////
    .points-circle {
        width: rem(40);
        height: rem(40);
        z-index: 2;
        p:nth-child(1) {
            font-size: rem(9.33);
        }
        p:nth-child(2) {
            font-size: rem(7.11);
            transform: translateY(-4px);
        }
    }
    /////////
}

.card-skew-btn {
    position: absolute;
    bottom: 6%;
    right: 3%;
    z-index: 3;
    background-color: #000;
    display: inline-block;
    padding: 5% 10%;
    transform: skewY(-5deg);
    text-align: center;
    box-shadow: rem(-3) rem(4) rem(3) rgba(0, 0, 0, 0.45);
    min-width: rem(123.2);
    box-sizing: border-box;
    p {
        margin: 0;
        margin-left: -15%;
        padding: 0;
        @include FontMontserrat;
        font-weight: 800;
        color: #fff;
        font-size: rem(9);
        text-transform: uppercase;
        user-select: none;
    }
    &:after {
        display: block;
        content: "";
        background: url("../images/icon/ico-arrow.png") no-repeat center;
        background-size: contain;
        width: rem(12);
        height: rem(10);
        position: absolute;
        top: 0;
        bottom: 7.5%;
        right: 4%;
        margin: auto;
    }
}