.card-carousel {
    font-size: 0;
    &__cell {
        width: rem(145);
        margin-right: rem(15);
        display: inline-block;
    }
    .flickity-viewport {
        overflow: visible;
    }
}
