.navigator {
    height: rem(46);
    position: relative;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
    }
    &__container {
        position: fixed;
        left: auto;
        right: auto;
        top: 0;
        background: #000;
        height: rem(46);
        width: 100%;
        max-width: 575px;
        z-index: 5;
    }
    &__back {
        width: rem(50);
        height: rem(46);
        background: url('../images/icon/arrow-back.svg') center no-repeat;
        background-size: rem(10) rem(16);
        position: absolute;
        left: 0;
        top: 0;
    }
    &__page-title {
        text-align: center;
        font-weight: bold;
        font-size: rem(16);
    }
}
