.pin-glow-animate{
    display: block;
    position: absolute;
    width: rem(100);
    height: rem(135);
    z-index: 1;
    &:after, &:before{
        position: absolute;
        background-size: contain !important;
        content : '';
        width: 100%;
        height : 100%;
        top : 0;
        left : 0;
    }
    &:after{
        background: url("../images/icon/pin-1-glow.png") no-repeat center;
        animation: animate-pin-glow 2s infinite forwards ease-in-out;
    }
    &:before{
        background: url("../images/icon/pin-1-unglow.png") no-repeat center;
    }
}

@keyframes animate-pin-glow {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}