.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#000,0.5);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: rem(20);
    text-align: center;
    transition: 0.3s;
    max-width: 575px;
    margin: auto;
    z-index: -1;
    $root : &;
    &.is-opened {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 25;
    }
    &__container {
        background: #333;
        color: #fff;
        padding: rem(20);
        position: relative;
        width: 100%;
        margin: auto;
        transform: scale(0.95);
        #{$root}.is-opened & {
            transition: 0.3s;
            transform: scale(1);
        }
    }
    &__close {
        display: inline-block;
        //border-radius: 50%;
        position: absolute;
        top: rem(4);
        right: rem(4);
        z-index: 2;
        opacity: 1;
        font-size: 0;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        span {
            width: rem(38);
            height: rem(38);
            display: inline-block;
            position: relative;
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top:50%;
                width: 50%;
                left:25%;
                height: rem(2);
                margin-top: rem(-1);
                background: #fff;
                transition: 0.3s;
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:before {
                transform: rotate(45deg);
            }
        }
    }
    &__content {
        padding-top: rem(25);
        font-size: rem(14);
        line-height: (20/14);
        header {
            margin-bottom: rem(20);
            h1,h2,h3,h4 {
                font-weight: bold;
                font-size: rem(16);
                margin: 0;
            }
        }
        footer {
            margin-top: rem(20);
        }
    }
}
