.game-hint {
    background: #F00D1A;
    position: relative;
    &__title {
        font-family: $font-Dela;
        font-style: normal;
        font-weight: 400;
        font-size: rem(22);
        line-height: (31/22);
        color: #000;
        text-align: center;
        transform: skewY(-5deg);
        margin: 0;
        padding-top: rem(35);
        padding-bottom: rem(8);
    }
    &__img {
        font-size: 0;
        filter: drop-shadow(-8px 10px 3px rgba(#000,0.3));
        padding-bottom: rem(15);
    }
    &__img-mask {
        mask-image: url("../images/masks/mask-skew.png");
        mask-repeat: no-repeat;
        mask-size: contain;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__pin {
        position: absolute;
        width: rem(105);
        height: rem(120);
        right: rem(5);
        bottom: rem(-2);
        img {
            width: 100%;
        }
    }
}
