.game-interaction {
    border-top: 1px solid #4f4f4f;
    padding-top: rem(15);
    padding-bottom: rem(15);
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:after, &:before {
            display: none;
        }
    }
    &__cell {
        display: inline-block;
    }
    &__item {
        display: inline-block;
    }
    &__item-icon {
        display: inline-block;
        width: rem(24);
        height: rem(24);
        vertical-align: middle;
        margin-right: rem(5);
        &.-like {
            width: rem(24);
            height: rem(24);
            background: url('../images/game/comments-like.svg') center no-repeat;
            background-size: contain;
        }
        &.-comment {
            width: rem(23);
            height: rem(24);
            background: url('../images/game/comments-comment.svg') center no-repeat;
            background-size: contain;
        }
        &.-share {
            width: rem(20);
            height: rem(20);
            background: url('../images/game/comments-share.svg') center no-repeat;
            background-size: contain;
        }
    }
}
