.form-common {
	font-weight: 700;
	font-size: rem(14);
	line-height: (20/14);
	color: #fff;
	a {
		color: #fff;
		font-weight: bold;
	}
	&__error {
		background: url(../images/icon/icon-error.svg);
		background-size: rem(16) rem(16);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: rem(23);
		color: $color-red;
		font-size: rem(12);
		margin-top: rem(5);
		font-weight: 400;
		min-height: rem(20);
		line-height: rem(20);
		&.-bold {
			line-height: (17/14);
			font-size: rem(14);
			font-weight: bold;
			// padding-bottom: rem(2);
			padding-top: rem(2);
			text-decoration: underline;
		}
		&.-inline-block {
			display: inline-block;
		}
	}
	&__verified {
		background: url(../images/icon/icon-success.svg);
		background-size: rem(16) rem(16);
		background-position: left center;
		background-repeat: no-repeat;
		padding-left: rem(23);
		color: #219653;
		font-size: rem(14);
		margin-top: rem(5);
		font-weight: 700;
		min-height: rem(20);
		line-height: rem(20);
	}
	&__group {
		margin-bottom: rem(19);
	}
	&__headline {
		font-weight: 700;
	    text-transform: uppercase;
	    margin: 0;
	    margin-top: rem(29);
	    margin-bottom: rem(25);
	}
	label, input, textarea, select {
		width: 100%;
		background: transparent;
		border: 1px solid #4F4F4F;
		padding: rem(10) rem(20);
		font-weight: 700;
		font-size: rem(14);
		line-height: (20/14);
		color: #fff;
		@include placeholder {
			color: #fff;
			font-weight: 400;
		}

		&:focus {
			border-color: #FFF;
		}
		&:disabled {
			background: #333333;
			border: 1px solid #4F4F4F;
			color: #828282;

		}
	}
	select {
		background: url('../images/icon/arrow-dropdown.svg') no-repeat;
		background-size: rem(10) auto;
		background-position: rem(304) center;
		@include removeSelectArrow;
	}
	option {
		color: #333;
	}
	label {
		border: 0px;
		font-weight: 400;
		padding: 0;
		margin-bottom: rem(7);
    	display: inline-block;
	}
	h5 {

	}
	input {
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			color: #fff !important;
		    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
		    -webkit-transition-delay: 9999s;
		}
	}
	&__checkbox {
		display: inline-block;
	    position: relative;
	    padding-left: rem(27) !important;
	    margin-bottom: rem(12);
	    cursor: pointer;
	    user-select: none;
	    color: #333;
	    margin-top: 0;
	    color: #fff;
		.checkmark {
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: rem(20);
		    width: rem(20);
		    background-color: #fff;
		    &:after {
		    	content: "";
			    left: rem(3);
			    top: rem(3);
			    position: absolute;
			    width: rem(12);
			    height: rem(12);
			    background: url(../images/icon/icon-checked.svg) top no-repeat;
			    background-size: contain;
			    opacity: 0;
			}
		}
		input {
		    position: absolute;
		    opacity: 0;
		    cursor: pointer;
		    height: 0;
		    width: 0;
		    z-index: -1;
		    &:checked ~ .checkmark:after {
			    // display: block;
			    opacity: 1;
			}
		}
	}
	&__fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem(10) rem(20);
		background: #000;
	}
	&__input-rule {
		font-size: rem(12);
		margin: rem(8) 0 0;
		color: #828282;
		font-weight: normal;
	}
}
