.popup-share-point {
    .popup__content > div {
        text-align: left;
        hr {
            border: 0;
            border-top: 1px solid #4F4F4F;
            margin-top: rem(25);
            margin-bottom: rem(25);
        }
    }
    footer {
        margin-top: rem(20);
    }
}
