<div class="slider-dome-bottom">
	<div class="slider-dome-dots js-dome-dots">
		<span class="js-dome-dots-current slider-dome-dots__current">01</span>
		<span class="ico-slash">/</span>
		<span class="js-dome-dots-total slider-dome-dots__total">15</span>
	</div>
	<a href="{{ page_url.term }}" class="text-link">Tìm hiểu thể lệ</a>
</div>
