<div class="invite-block__wrapper">
	<span class="points-circle">
		<div>
			<p class="">+500</p>
			<p>điểm</p>
		</div>
	</span>
	<div class="invite-block__inner">
		<div class="invite-block__container">
			<h3 class="invite-block__headline">
				rủ ngay<br/>
				đồng đội?
			</h3>
			<div class="invite-block__detail">
				<p>
					Nhận ngay
					<b>500 điểm</b>
					cho<br/>
					mỗi lượt mời bạn đăng ký tham gia
				</p>
			</div>
			{% if is_logged_in %}
				<div class="sharing-btn">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ (page_url.homepage ~ '?stingcode=' ~ user_unique_code)|url_encode(true) }}" target="_blank" class="sharing-btn__main">
						<p>
							<svg class="ico -fb" width="11" height="19" viewbox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.76362 10.274L10.2636 7.01798H7.13962V4.90598C7.13962 4.01398 7.57562 3.14598 8.97562 3.14598H10.3956V0.369979C10.3956 0.369979 9.10762 0.149979 7.87162 0.149979C5.29962 0.149979 3.61562 1.70998 3.61562 4.53398V7.01798H0.755615V10.274H3.61562V18.15H7.13562V10.274H9.76362Z" fill="#F00D1A"/>
							</svg>
							Chia sẻ lên facebook
						</p>
					</a>
					<a href="javascript:;" class="sharing-btn__ico" data-url="{{ (page_url.homepage ~ '?stingcode=' ~ user_unique_code)|url_encode(true) }}">
						<svg class="ico -multi-socials" width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.4998 9C12.15 9 10.9422 9.59691 10.1175 10.5381L7.26119 8.78014C7.40744 8.37875 7.4999 7.95168 7.4999 7.49988C7.4999 7.2047 7.45758 6.92073 7.39303 6.64444L11.1899 4.89239C11.7398 5.56334 12.5644 5.99985 13.5 5.99985C15.156 5.99985 16.4999 4.65662 16.4999 2.99993C16.4999 1.34323 15.1557 0 13.4998 0C11.8424 0 10.4998 1.34323 10.4998 2.99993C10.4998 3.18287 10.5225 3.35949 10.5531 3.53386L6.76074 5.28438C6.07744 4.35779 4.98825 3.74985 3.74983 3.74985C1.67847 3.75007 -0.000244141 5.42856 -0.000244141 7.49993C-0.000244141 9.57129 1.67847 11.25 3.74983 11.25C4.82781 11.25 5.79329 10.7885 6.47729 10.0591L9.32939 11.8141C9.11832 12.3354 8.99976 12.9031 8.99976 13.5C8.99976 15.9858 11.0139 18 13.4998 18C15.9842 18 17.9998 15.9858 17.9998 13.5C17.9998 11.0142 15.9842 9 13.4998 9Z" fill="#F00D1A"/>
						</svg>
					</a>
				</div>
			{% else %}
				<div class="sharing-btn">
					<a href="{{ page_url.login }}" class="sharing-btn__main">
						<p>
							<svg class="ico -fb" width="11" height="19" viewbox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.76362 10.274L10.2636 7.01798H7.13962V4.90598C7.13962 4.01398 7.57562 3.14598 8.97562 3.14598H10.3956V0.369979C10.3956 0.369979 9.10762 0.149979 7.87162 0.149979C5.29962 0.149979 3.61562 1.70998 3.61562 4.53398V7.01798H0.755615V10.274H3.61562V18.15H7.13562V10.274H9.76362Z" fill="#F00D1A"/>
							</svg>
							Chia sẻ lên facebook
						</p>
					</a>
					<a href="{{ page_url.login }}" class="sharing-btn__ico">
						<svg class="ico -multi-socials" width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.4998 9C12.15 9 10.9422 9.59691 10.1175 10.5381L7.26119 8.78014C7.40744 8.37875 7.4999 7.95168 7.4999 7.49988C7.4999 7.2047 7.45758 6.92073 7.39303 6.64444L11.1899 4.89239C11.7398 5.56334 12.5644 5.99985 13.5 5.99985C15.156 5.99985 16.4999 4.65662 16.4999 2.99993C16.4999 1.34323 15.1557 0 13.4998 0C11.8424 0 10.4998 1.34323 10.4998 2.99993C10.4998 3.18287 10.5225 3.35949 10.5531 3.53386L6.76074 5.28438C6.07744 4.35779 4.98825 3.74985 3.74983 3.74985C1.67847 3.75007 -0.000244141 5.42856 -0.000244141 7.49993C-0.000244141 9.57129 1.67847 11.25 3.74983 11.25C4.82781 11.25 5.79329 10.7885 6.47729 10.0591L9.32939 11.8141C9.11832 12.3354 8.99976 12.9031 8.99976 13.5C8.99976 15.9858 11.0139 18 13.4998 18C15.9842 18 17.9998 15.9858 17.9998 13.5C17.9998 11.0142 15.9842 9 13.4998 9Z" fill="#F00D1A"/>
						</svg>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
