{# SHARED #}
<div class="banner-glitch-slogan">
    <div class="banner-glitch-slogan__outer">
        <img style="opacity : 0" class="banner-glitch-slogan__img js-tex-slogan lozad" data-src="{{assets_url}}/images/slogan.png" src="{{assets_url}}/images/dummy/648x276.png"/>
	    <div class="banner-glitch-slogan__inner js-glitch-slogan"></div>
    </div>
</div>