{# SHARE #}
<nav class="navigator">
    <div class="navigator__container">
        <div class="container">
            <a class="navigator__back" href="{{ url }}"></a>
            <h1 class="navigator__page-title">{{ page_title }}</h1>
        </div>
    </div>
</nav>
