{# SHARED #}
<div class="notification {{ modified_class }}" id="{{ id }}" data-module="notification">
    <div class="container">
        <div class="notification__content">
            {{ content }}
        </div>
    </div>
</div>
