{# SHARE #}
<div class="popup popup-message" id="{{ popup_id }}" data-module="popup" >
    <div class="popup__container">
        <div class="popup__close js-popup-close"><span></span></div>
		<div class="popup__content">
            <header>
				<h4>{{ title }}</h4>
			</header>
            <div>
                {{ content }}
            </div>
            {% if close_button_text %}
            <footer>
                <button class="button-big js-popup-close">{{ close_button_text }}</button>
            </footer>
            {% endif %}
		</div>
    </div>
</div>
