{# SHARE #}
<div class="popup popup-share-point" id="popup_share_point" data-module="popup" >
    <div class="popup__container">
        <div class="popup__close js-popup-close"><span></span></div>
		<div class="popup__content">
            <header>
				<h4>Cơ chế tính điểm</h4>
			</header>
            <div>
                <p><b><span class="color-red">+10 điểm</span> cho mỗi lượt đăng ký mới thành công theo link chia sẻ của bạn, tối đa 30 lượt.</b></p>
                <hr />
                <p><b><span class="color-red">+5 điểm</span> cho mỗi lượt truy cập theo link chia sẻ của bạn (*)</b></p>
                <p>(*) Người chơi chỉ được cộng điểm cho bài chia sẻ có một lượt truy cập, tối đa 41 lượt chia sẻ hợp lệ cho mỗi người chơi.</p>
            </div>
            <footer>
                <button class="button-big js-popup-close">ĐÃ HIỂU</button>
            </footer>
		</div>
    </div>
</div>
