{# SHARE #}
<div class="popup popup-message" id="popup_register" data-module="popup" >
    <div class="popup__container">
        <div class="popup__close js-popup-close"><span></span></div>
		<div class="popup__content">
            <header>
				<h4>Thông báo</h4>
			</header>
            <div>
                Số điện thoại chưa được đăng ký. 
            </div>
            <footer>
                <a href="{{ page_url.register }}" class="button-big">ĐĂNG KÝ NGAY</a>
            </footer>
		</div>
    </div>
</div>
