.main-menu {
    background: #000;
    // height: calc(100vh - 46px);
    height: calc((var(--vh, 1vh) * 100 ) - 3.2857142857rem); // height: 46x = 3.2857142857rem
    @include FontMontserrat;
    top: 0;
    // overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s;
    transition-delay: 0.05s;
    &.is-opened {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    img {
        max-width: 100%;
    }

    &__profile {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: #fff;
        font-weight: 700;
        font-size: rem(20);
        line-height: rem(20);
        padding: 0 rem(20);
        height: 8.5rem;
        padding-top: rem(18);
        b {
            font-weight: 700;
        }
        &__avatar {
            // width: rem(92);
            width: (92/335)*100%;
            position: relative;
            // overflow: hidden;
            img.avatar {
                width: rem(92);
                height: rem(92);
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid $color-red;
            }
            .hide-section {
                position: absolute;
                bottom: rem(4);
                left: 75%;
                width: rem(24);
                opacity: 0;
            }
            .photo {
                position: absolute;
                bottom: rem(4);
                left: 75%;
                width: rem(24);
                pointer-events: none;
            }
        }
        &__detail {
            // border: 2px solid red;
            position: relative;
            z-index: 2;
            width: ((335 - 92)/335)*100%;
            padding-left: rem(20);
            text-align: left;
            h3 {
                font-weight: bold;
                margin-top: 0;
                margin-bottom: rem(5);
            }
            &__name {
                font-size: rem(16);
            }
            &__btn {
                margin-top: rem(20);
            }
            &__text {
                font-size: rem(16);
                line-height: (22/16);
                margin-bottom: rem(10);
            }
        }
    }
    &__list {
        height: calc(100% - 9.5rem);
        padding-top: 1.3rem;
        overflow: auto;
        list-style: none;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                border-top: 1px solid #4F4F4F;
                padding: 0;
                margin: 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: rem(23);
                    top: rem(23);
                    background: url('../images/icon/ico-ar-right.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: rem(6);
                    height: rem(10);
                }
                img {
                    margin-left: rem(15);
                }
                span {
                    padding-left: rem(15);
                }
                img, span {
                    vertical-align: middle;
                }
            }
            a {
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.4285714286rem;
                color: #FFFFFF;
                display: inline-block;
                padding: rem(19) rem(4);
                width: 100%;
            }
        }
    }
}
