<div class="slider-location__wrapper">
	<div class="slider-location__container" data-spec="FlickitySlideInstant" data-flickity='{ "cellAlign" : "center", "groupCells" : true, "pageDots" : false, "prevNextButtons" : false }'>
		{% for game in old_games %}
			{% include '_components/card-skew.twig' with {game:game} only %}
		{% endfor %}
	</div>
</div>
