.s-sharing {
    position: relative;
    margin-top: 10px;
    .sharing-btn{
        margin-top : 2px;
        margin-left : 21px;
        @media screen and (max-width : 374px){
            margin-left : 6%;
        }
    }
}
