
.s-location{
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}
.slider-location{
    &__wrapper{
        margin-left : -20px;
        max-width: 575px;
        @media screen and (max-width : 374px){
            margin-left: 15px;
        }
    }
    &__container{
        font-size: 0;
        .card-skew{
            display: inline-block;
            vertical-align: middle;
            margin-right : 16px;
        }
    }
    .flickity-slider{
        .card-skew{
            position: absolute;
            left : 0;
        }
    }
    .text-link{
        position: relative;
        margin-top: 17px;
        margin-left: 20px;
    }
}