.s-dome {
    position: relative;
    margin-top: rem(-82);
    // @media screen and (max-width: 374px) {
    //     margin-top: -22%;
    // }
}
.slider-dome {
    &__inner {
        @media screen and (max-width: 374px) {
            transform: translateX(-2vw);
        }
    }
    &__cell {
        position: absolute;
        transform-origin: 50% 100%;
        z-index: 1;
        opacity: 0;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            display: block;
            content: "";
            transition: all 0.35s ease-in-out;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
        &[data-side = "right-1"]{
            &:after{
                background-color: rgba($color: #000000, $alpha: 0.35);
            }
        }
        &[data-side = "right-2"]{
            &:after{
                background-color: rgba($color: #000000, $alpha: 0.6);
            }
        }
        &[data-side = "left-1"]{
            &:after{
                background-color: rgba($color: #000000, $alpha: 0.35);
            }
        }
        &[data-side = "left-2"]{
            &:after{
                background-color: rgba($color: #000000, $alpha: 0.6);
            }
        }
        &.active {
            &:after {
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }
        }
        &.guide-popup {
            &:after {
                z-index: 2 ;
                opacity: 1 ;
                visibility: visible ;
                background-color: rgba(0, 0, 0, 0.6);
            }
            .card-skew-container{
                &:before, &:after{
                    content: '';
                    position: absolute;
                    top : 0;
                    left : 0;
                    display: block;
                    width: 100%;
                    height : 100%;
                    z-index: 3;
                }
                &:before{
                    background: url("../images/icon/guide-swipe.png") no-repeat center;
                    background-size: 40% auto;
                }
                &:after{
                    background: url("../images/icon/ico-hand-guide-swipe.png") no-repeat center;
                    background-size: 40% auto;
                    animation: shake-hand 1.5s infinite backwards ease-in-out;
                }
            }
        }
    }
    .card-skew {
        width: rem(256);
        height: rem(312);
        cursor: grab;
        padding-top: rem(20);
        // @media screen and (max-width : 374px){
        //     width : rem(230);
        //     height : rem(280);
        // }
        .card-skew-headline {
            font-size: rem(15);
            min-height: rem(45);
        }
        .points-circle {
            width: rem(62);
            height: rem(62);
            top: 11%;
            left: 4%;
            p:nth-child(1) {
                font-size: rem(13);
            }
            p:nth-child(2) {
                font-size: rem(9.35);
            }
        }
        .card-skew-btn {
            padding: 5% 15%;
            right: 3%;
            min-width: rem(212.84);
            p {
                font-size: rem(13);
            }
            &:after {
                width: rem(24);
                height: rem(16);
                bottom: 5.5%;
                right: 11%;
            }
        }
        &.active {
            transform: scale(1);
        }
    }
    .card-skew-container {
        &__mask {
            img {
                -webkit-user-drag: none;
            }
        }
    }
}

.slider-dome-bottom {
    position: relative;
    margin-top: rem(15);
    text-align: right;
    vertical-align: bottom;
    width: 70%;
    margin: 0 auto;
    max-width: rem(263);
    margin-top: rem(-29);
    // @media screen and (max-width: 374px) {
    //     margin-top: -8%;
    // }
    .slider-dome-dots {
        padding-right: rem(10);
        width: 55%;
        box-sizing: border-box;
    }
    .text-link {
        max-width: 45%;
    }
}

.slider-dome-dots {
    font-size: 0;
    text-align: left;
    @include FontMontserrat;
    font-weight: 800;
    font-style: italic;
    color: #fff;
    vertical-align: bottom;
    display: inline-block;
    span {
        display: inline-block;
    }
    &__current {
        font-size: rem(20);
        min-width: rem(25);
    }
    &__total {
        font-size: rem(12);
        margin-left: rem(9);
        min-width: rem(17);
    }
    .ico-slash {
        font-size: rem(16);
        margin-left: rem(6);
    }
}

#dome-home-slider-1 {
    .slider-dome__inner {
        min-height: rem(370);
    }
}

@keyframes shake-hand {
    0% {
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}