
.s-top-banner{
    overflow: visible;
    position: relative;
    padding-top: rem(47);
}

.top-banner {
    &__container {
        position: relative;
        min-height: rem(350);
    }
    .text-chinh-phuc {
        position: absolute;
        top: 7%;
        left: 17%;
        width: 66%;
    }
    .logo-sting {
        position: absolute;
        top: 5%;
        left: 29%;
        width: 29%;
        overflow: hidden;
        img {
            width: 100%;
            position: relative;
            z-index: 0;
        }
        .glitch-transparent {
            position: absolute;
            width: 100%;
            height : 82%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    .slogan {
        position: absolute;
        top: 13%;
        left: 7%;
        width: 88%;
        overflow: hidden;
        img {
            width: 100%;
            position: relative;
            z-index: 0;
        }
        .glitch-image-line{
            background-size: contain !important;
        }
        .glitch-slogan{
            position: absolute;
            top : 0;
            left : 0;
            width: 100%;
            height : 100%;
            z-index: 1;
        }
        canvas {
            position: absolute;
            width: 100% !important;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    .btn-pin-map {
        position: absolute;
        top: 52%;
        left: 0;
        right: 0;
        margin: auto;
        width: rem(175);
        height: rem(70);
        p {
            text-transform: uppercase;
            font-size: rem(18.22);
            position: absolute;
            top: 32%;
            right: 8%;
            transform: rotate(-2.29deg);
        }
    }
}
